<!-- {day1.syllabusUnits.map((unit, index) => (
    <div className="unit" key={index} >
        <div className="unit__component" onClick={() => toggleUnit(index)}>
            <div className='d-flex mb-2'>
                <p className="unit__number">Unit {unit.unitNo}</p>
                <div className='ms-4'>
                    <p className="unit__title">{unit.name}</p>
                    <span className="unit__time fs-14">{unit.duration} hours</span>
                </div>

            </div>
            <i className='bi bi-caret-left-fill'></i>
        </div>

        <div>
            {unit.syllabusUnitChapters.map((detail, idx) => (
                <div className={selectedUnit === index ? 'unit__details show' : 'unit__details'} key={idx}>
                    <Box sx={{ flexGrow: 1 }}>
                        <Grid container spacing={1}>
                            <Grid item xs={5}>
                                <h6 className='fs-14'>{detail.name}</h6>
                            </Grid>
                            <Grid item xs={1}>
                                <p className='details__stanrd'>
                                    {detail.outputStandard == null ? (
                                        <p className='bg-chapter'></p>
                                    ) : (
                                        <p className='details__stanrd'>{detail.outputStandard.code}</p>
                                    )}
                                </p>
                            </Grid>
                            <Grid item xs={2}>
                                <p className='details__mins'>{detail.duration} mins</p>
                            </Grid>
                            <Grid item xs={2}>
                                <p>
                                    {detail.online ? <p className='details__onl'>Online</p> : <p className='text-white bg-core rounded p-1 fw-normal'>Offline</p>}
                                </p>
                            </Grid>
                            <Grid item xs={1}>
                                {detail.deliveryType.name === 'Concept/Lecture' && <i class="bi bi-person-plus"></i>}
                                {detail.deliveryType.name === 'Assignment/Lab' && <i class="bi bi-bookmark-check"></i>}
                                {detail.deliveryType.name === 'Test/Quiz' && <i class="bi bi-card-checklist"></i>}
                                {detail.deliveryType.name === 'Exam' && <i class="bi bi-journal-bookmark-fill"></i>}
                                {detail.deliveryType.name === 'Guide/Review' && <i class="bi bi-hand-thumbs-up"></i>}
                                {detail.deliveryType.name === 'Seminar/Workshop' && <i class="bi bi-person-workspace"></i>}
                                {detail.deliveryType.name === 'Class Meeting' && <i class="bi bi-people"></i>}
                                {detail.deliveryType.name === 'Tour/Outdoor' && <i class="bi bi-globe-central-south-asia"></i>}
                            </Grid>
                        </Grid>
                    </Box>
                </div>
            ))}
        </div>



    </div>
))} -->