.popup__container{
    position: absolute;
    width: 200px;
    height: 138px;
    background-color: aqua;
    border-radius: 8px;
}

.popup__function{
    padding: 8px 8px;
    font-size: larger;
    color: black;
}

.popup__function:first-child{
    padding: 8px 8px !important;
}