body {
    overflow: auto;
}
.nav__container{
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    background-color: #30344c;
}

.nav__title{
    margin: 10px 50 px;
}

.nav__title:first-child{
    margin-left: 20px;
}

.nav__title{ 
    list-style: none;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav_content{
    margin-left: 10px;
}

.nav__logout{
    display: flex;
    margin: 0 30px;
}

.nav__img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.nav__func{
    text-decoration: none;
    color: white;

}
h4{
    color: white;
}