.training__program-header{
    background-color: #2d3748;
    color: #FFF;
    width: 100%;
    padding: 6px;
    margin: 0px;
    font-weight: normal;
    border: 1px solid #FFF;
}

.container{
    padding: 0px;
    margin: 0px;
}

.filter__training{
    background-color: #2d3748;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.table__syllabus-status{
    background-color: #2d3748;
    border-radius: 8px;
    padding: 4px;
    width: 50%;
    color: #FFF;
}

.syllabus__table{
    margin-top: 5px;
}