.content__syllabus{
    width: 75%;
}

.content__component-delete{
    background-color: #e74a3b;
    padding: 20px 6px;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}