.training__program-header{
    background-color: #2d3748;
}

.container{
    padding: 0px;
    margin: 0px;
}

/* .filter__training{
    background-color: #2d3748;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 3px;
} */

.table__syllabus-status{
    background-color: #2d3748;
}

.syllabus__table{
    margin-top: 5px;
}