
.react-calendar{
    border: none;
}

.general__contain-first{
    border-radius: 8px;
    box-shadow: 1px 1px 5px gainsboro;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.general__contain-first.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);

}
.row{
    margin: 0px;
    padding: 0px;
}

.attendee__component{
    border-radius: 8px;
    text-align: center;
    background-color: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.attendee__component.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);

}

.program-components-text p:first-child{
    margin-left: 0px;
}

.class__view-syllabus-content{
    box-shadow: 1px 1px 5px gainsboro;
    border-radius: 0px 8px 8px 0px;
}