/*.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-self: center;
}

.accordion{
    width: 500px;
}

.item{
    background: white;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title{
    color: yellow;
}

.content{
    color: gray;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);

}*/