.syllabus__header{
    font-weight: normal;
    color: #47505f;
    margin: 1px 0;
    font-size: 15px;
    margin-left: 20px;
}

.header__title{
    display: flex;
    justify-content: space-between;
}

.header__div{
    display: flex;
    
}

.active{
    background: #47505f;
    height: 19px;
    color: white;
    border-radius: 10px;
    width: 54px;
    text-align: center;
}

.header__icon{
    margin-right: 20px;
    width: 50px;
}

.syllabus__title{
    margin-left: 20px;
    color: #47505f;
    font-size: 18px;
}
.title__info{
    color: #47505f;
    margin: 2px 20px;
    font-weight: bold;
    font-size: small;
}

.info__solid{
    border-bottom: 1px solid #47505f;
}

.syllabus__time{
    display: flex;
}

.date__span{
    color: #47505f;
    margin: 6px 0px 0px 6px;
}

.syllabus__date{
    color: #47505f;
    font-weight: bold;
    margin: 5px 0px 10px 20px;
    font-size: 16px;
}

.info__detail{
    margin-left: 20px;
    color: #47505f;
}

.tabs__outline.active {
    background-color: #2e3848;
}
