.syllabus__header{
    display: flex;
    color: black;
    margin: 0px;
}

.header__title{
    color: black;
    margin-top: 16px;
    margin-right: 56px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.syllabus__header{
    border-bottom: 1px solid black;
}

.syllabus__option{
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 10px;
    width: 64%;
}

.option_div{
    display: flex;
}

.option__input{
    border-radius: 8px;
    margin-left: 10px;
    height: 65%;
}

.option__title{
    color: black;
    font-weight: bold;
    margin-left: 20px;
    padding: 4px;
}

.option__code{
    padding: 4px;
    font-weight: normal;
}

.option__version{
    padding: 4px;
    font-weight: normal;
}

.css-1aznpnh-MuiSlider-root{
    height: 17px !important;
    color: #47505f !important;
}

.css-1aznpnh-MuiSlider-root{
    padding: 6px !important;
}

.tabs__outline{
    margin-top: 0px;
}