*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #668cb7;
}

.main{
  display: flex;
  height: 86vh;
}

.container{
  flex-grow: 1;
}

.sidebar{
  width: 220px;
  flex-shrink: 0;
  background-color: #edf2f7;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  color: #285d9a;
  font-size: 14px;
}

.sidebar-item:hover{
  background-color: #f1f1f1;
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}

.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}

.sidebar-content{
  padding: .25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #668cb7;
  text-decoration: none;
}

.sidebar-item.plain:hover{
  text-decoration: underline;

}

.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.css-17ncwvs{
  background-color: #FFF !important;
}

.bg-core{
  background-color: #2d3748;
}

.bg-tab{
  background-color: #6d7684;
}

.bg-chapter{
  background-color: #f1f1f1;
}

.bg-day{
  background-color: #474747;
}

.bg-atten{
  background-color: #285d9a;
}

.bg-general{
  background-color: #8b8b8b;
}

.bg-delete{
  background-color: #e74a3b;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.w-10{
  width: 10%;
}

.w-15{
  width: 15%;
}

.w-5{
  width: 5%;
}

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.w-40{
  width: 10%;
}

.w-60{
  width: 60%;
}

.w-98{
  width: 98%;
}

.w-95{
  width: 95%;
}

.h-20p{
  height: 20px;
}

.rounded-top-end{
  border-radius: 0px 10px 0px 0px;
}

.box-shadow-1{
  box-shadow: 1px 1px 20px #8b8b8b;
}

.text-nav{
  color: #285d9a;
}

.pointer{
  cursor: pointer;
}
