.syllabus__head{
    font-weight: normal;
    color: #47505f;
    margin: 0px 0px 8px 0px;
}

.syllabus__underline,
.syllabus__underline{
    border: 1px solid #47505f;
}


.syllabus__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon {
    position: relative;
    display: inline-block;
}

.input-with-icon i {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.input-with-icon input {
    padding-left: 30px;
}

.search__by{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-right: 5px;
    margin-left: 20px;
}

.search__date{
    border: 1px solid #47505f;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-right: 5px;
    margin-left: 20px;
}

.syllabus__import{
    margin-right: 20px;
}

/* .import{
    width: 79px;
    height: 30px;
    background-color: #d45b13;
} */

/* .syllabus__add{
    border: none;
    width: 110px;
    height: 30px;
    background-color: #47505f;
    color: #fff;
    border-radius: 8px;
} */

/* .syllabus__enter{
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
} */

/* .enter__search{
    color: #FFF;
    background-color: #474747;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 90px;
    margin-bottom: 5px;
} */

/* .syllabus__table{
    width: 100%;
    overflow-x: auto;
} */

/* .syllabus__table table {
    width: 100% !important;
    width: auto;
    border-collapse: collapse;
} */

/* .table__header{
    color: #FFF;
    background-color: #47505f;
    border-radius: 50px;
    height: 32px;
} */

/* th {
    text-align: left;
  }

th:first-child{
    margin-left: 20px;
} */

/* .table__syllabus{
    border-bottom: 1px solid black;
} */

.standard__info{
    display: flex;
}

.table__syllabus:first-child{
    font-weight: bold;
    color: black;
}

.syllabus__standard{
    background-color: #47505f;
}

.css-1ex1afd-MuiTableCell-root{
    padding: 4px;
}

.pagination{
    margin: 5px 0px;
    display: flex;
    justify-content: center;
}